@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.recovery-page{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
}

.recovery-form {
    margin-top: 8rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.recovery-form>h1{
    color: #333333;
}


.recover-pass-after{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    color: #333333;
    margin-top: 8rem;
}

.recovery-email{
    line-height: 0.5;
    margin: 2rem 0;
}

.recovery-email>input {
    border-radius: 5px;
    width: 25rem;
    height: 2rem;
}

.recovery-email>p{
    font-size: small;
    color: #3C4242;
}

.recovery-button>button{
    border: none;
    border-radius: 5px;
    background-color: #8A33FD;
    color: #FFFFFF;
    width: 8rem;
    height: 2rem;
}

.recovery-button>button:hover {
    cursor: pointer;
    background-color: #7b2ee0;
}

@media (max-width: 840px) {
    .recovery-page{
        display: block;
        height: 50vh;
    }

    .recovery-image{
        display: none;
    }

    .recovery-form{
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
    }

    .recovery-form>h1{
        text-align: center;
    }

    .recovery-email{
        display: flex;
        flex-direction: column;
    }

    .recovery-email>p{
        margin-left: 0.5rem;
    }

    .recovery-email>input{
        width: 95%;
        align-self: center;
    }

    .recovery-button{
        display: flex;
        justify-content: center;
    }
}