@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body {
    background-color: #EDEDED;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.left {
    line-height: 0.8;
    display: grid;
    grid-column: 1;
    justify-content: center;
    margin-right: 3rem;
    font-family: "Shadows Into Light", cursive;
    font-style: normal;
}

.left-title {
    margin: 0;
    text-align: center;
    padding: 0;
    font-size:2rem;
    text-decoration: underline;
    text-decoration-color: #3C4242;
    font-weight: 600;
}

.left-sub {
    top: 0;
    margin-left: 2rem;
    font-size: small;
    text-decoration-color: #3C4242;
    font-weight: 300;
}

.middle {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    margin-left: 3rem;
}

.link {
    margin-left: 3rem;
    text-decoration: none;
    color: #3C4242;
    font-size: large;
}

.link:hover{
    color: #0d0d0d;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3C4242;
}

.person {
    cursor: pointer;
    margin:0 1rem 0 1rem;
}

.cart {
    cursor: pointer;
}

.dashboard {
    cursor: pointer;
}

.left-mobile{
    display: none;
}

.hamburger {
    display: none;
}

@media (max-width: 840px) {
    .header{
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .left-mobile{
        line-height: 0.1;
        display: grid;
        grid-column: 1;
        justify-content: center;
        font-family: "Shadows Into Light", cursive;
        font-style: normal;
    }

    .left-title-mobile{
        font-size:2rem;
        text-decoration: underline;
        text-decoration-color: #3C4242;
        font-weight: 600;
    }

    .hamburger{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .hamburger-menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
    .hamburger-menu .search {
        flex: 1;
      }
      
    .hamburger-menu i {
        font-size: 24px;
        margin-left: 20%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        z-index: 4;
        position: absolute;
        top: 4%;
        right: 100%;
        
        transition: right 0.5s ease-in-out;
        background-color: #4c5252;
        list-style: none;
      }
      
      .open {
        top: 60%;
        right: -53%;
        height: 100vh;
        width: 100vw;
      }
      
      .menu > li {
        text-align: center;
        padding-bottom: 1.5rem;
        margin: 1rem 0;
        border-bottom: 1px solid #6a7272;
        color: black;
      }
}
